SDR de ia
{
  "name": "SDR da Brandsp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sdrbrandsp",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -256,
        80
      ],
      "id": "4a7f9d08-95b0-4c61-ae92-f69fa9becc65",
      "name": "Receber Mensagem no Whatsapp",
      "webhookId": "c558258f-d42c-496c-9d5e-6432da0a0918"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.text }}",
                    "rightValue": "Texto",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "e18880d1-4e34-42b8-a510-db5101917ae9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bb25d274-319e-4da1-9848-50344ec349e3",
                    "leftValue": "={{ $json.body.audio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dd3fc63b-3a7e-4492-9b04-9c017f424f95",
                    "leftValue": "={{ $json.body.image }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagem"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4f2e7d33-1560-407f-bbec-d179e5ee8cfe",
                    "leftValue": "={{ $json.body.document }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Documento"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        160,
        48
      ],
      "id": "ef80e86b-cfa1-4bd5-9c2d-88337af4454d",
      "name": "Separar Formato do Recebimento"
    },
    {
      "parameters": {
        "description": "\nUse a ferramenta para pensar em algo. Ele não obterá novas informações ou alterará o banco de dados, mas apenas anexará o pensamento ao log. Use -o quando for necessário raciocínio complexo ou alguma memória de cache."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        1584,
        400
      ],
      "id": "20a8df98-88a6-4a76-abb9-26f70f81bcdb",
      "name": "Think"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Consulte a agenda de reuniões",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "marketingkauann@gmail.com",
          "mode": "list",
          "cachedResultName": "marketingkauann@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1488,
        400
      ],
      "id": "fcf46ce7-25aa-44c3-b05d-4ee1466f9bd7",
      "name": "Verificar_Agenda",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "NMv8H5P7ohESlNPh",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.body.audio.audioUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        32
      ],
      "id": "e69d85a8-8dd9-4960-8fb4-c693361e3d06",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        752,
        32
      ],
      "id": "94814a68-b7b8-4e0a-9705-7cfcb9a99b5a",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "myxICS85AkBDFE8a",
          "name": "OpenIa"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        2288,
        160
      ],
      "id": "1cb6808c-4ba9-452f-a0fa-22db843bcc3e",
      "name": "DeepSeek Chat Model2",
      "credentials": {
        "deepSeekApi": {
          "id": "t17GJtBi7eew0yHF",
          "name": "DeepSeek account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## RECEBE MENSAGEM E SEPARPOR FORMATO",
        "height": 560,
        "width": 680,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -320,
        -16
      ],
      "id": "be663d40-6264-4afd-9ae1-3d2c513f567c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## TEXTO",
        "width": 580,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        448,
        -208
      ],
      "id": "df45c537-3f44-4a18-bf0a-442b02a2a839",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## AUDIO",
        "height": 180,
        "width": 580,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        448,
        -16
      ],
      "id": "c4aef97e-003f-4e46-acdf-a720eb522ea1",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## IMAGEM",
        "width": 580,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        448,
        192
      ],
      "id": "3f5dc3c8-9b75-4b81-a0e4-4ce79b0ba707",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## PDF\n\n",
        "height": 180,
        "width": 580,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        448,
        368
      ],
      "id": "656253f5-36c2-4ab9-8ff0-da90cfdd252a",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## CONSULTA AGENDA\n\n",
        "height": 200,
        "width": 300,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1424,
        320
      ],
      "id": "382bdf9f-3cf1-4247-96db-78855e8bfdba",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## SDR IA\n\n\n",
        "height": 380,
        "width": 580,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1088,
        -80
      ],
      "id": "7eb9e88e-37fe-490c-bbcf-90102bf20e28",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## AGENDA REUNIÕES\n\n\n",
        "height": 420,
        "width": 500,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1712,
        -128
      ],
      "id": "e1dc4db7-e386-4e86-96e7-1eaf7228924b",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## CONFIRMA REUNIÃO AGENDADA\n\n\n",
        "height": 420,
        "width": 500,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2224,
        -128
      ],
      "id": "622082b4-c7a0-452d-905b-5b694090ef9a",
      "name": "Sticky Note8"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -48,
        80
      ],
      "id": "c013a413-cd32-4250-9c41-fb4d4cf5cdb1",
      "name": "pausa",
      "webhookId": "6e75cc9c-458a-4101-b6c4-ea74531238af"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2fef08d7-6936-4390-81a2-39c5fc833cd7",
              "name": "Texto",
              "value": "={{ $('Receber Mensagem no Whatsapp').item.json.body.text.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        -176
      ],
      "id": "6e6558a6-315e-4c63-82d6-ef0fe8d87739",
      "name": "Campo Texto"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7929d834-53fa-4eb2-aef9-ebc650b82c86",
              "name": "Texto",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        32
      ],
      "id": "cd7b3f1d-6bf0-4328-bd8f-ffdeab1eea9b",
      "name": "Transcrição Audio"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3DF60DF1DF9700DA23A80A1EFCACDE10/token/551A511F489A23A57AFFA1B2/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F2509fb5b36d7419ea3d61f1d455b0ffcS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.output }}"
            },
            {
              "name": "phone",
              "value": "={{ $('Receber Mensagem no Whatsapp').item.json.body.phone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        208
      ],
      "id": "2a0d5e96-f018-4d70-af06-ab0b60dfef2a",
      "name": "Transcrever Imagem"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3DF60DF1DF9700DA23A80A1EFCACDE10/token/551A511F489A23A57AFFA1B2/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F2509fb5b36d7419ea3d61f1d455b0ffcS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.output }}"
            },
            {
              "name": "phone",
              "value": "={{ $('Receber Mensagem no Whatsapp').item.json.body.phone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        384
      ],
      "id": "078408cb-649a-4d07-8e8a-42945cf21717",
      "name": "Transcrever PDF"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3DF60DF1DF9700DA23A80A1EFCACDE10/token/551A511F489A23A57AFFA1B2/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F2509fb5b36d7419ea3d61f1d455b0ffcS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.output }}"
            },
            {
              "name": "phone",
              "value": "={{ $('Receber Mensagem no Whatsapp').item.json.body.phone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        352
      ],
      "id": "a6058d87-6fbc-4e41-8e4f-5c3515dfe9de",
      "name": "formato incorreto"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Receber Mensagem no Whatsapp').item.json.body.text.message }} {{ $json.Texto }}",
        "options": {
          "systemMessage": "=hoje é dia: {{ $now }}\n1. Quem é você\nVocê é a  Brandsp IA, SDR (Sales Development Representative) de IA da Brandsp\n\nVocê é apaixonado por tecnologia, marketing digital e inteligência artificial. Demonstra entusiasmo ao falar sobre as soluções da Brandsp, é proativo, curioso, empático, um bom ouvinte e se comunica de forma clara, simpática, profissional e objetiva.\nSeu objetivo é identificar as necessidades do cliente, mapear suas dores e oferecer as soluções mais adequadas da Brandsp.\n\n2. História da Brandsp\nA Brandsp nasceu da união de dois especialistas: Kauann Pires, referência em automação de marketing e IA, e você, Danilo Carvalho, especialista em prospecção e vendas.\nAmbos trabalharam juntos em uma ferramenta de automação de inbound e outbound. Após a saída de Kauann, você se juntou ao projeto em 07/11/2024, tornando-se sócio.\nDesde então, a Brandsp tem como missão ajudar empresas a crescerem no marketing digital, unindo automação, IA e atendimento humanizado.\nA Brandsp acredita que marketing digital vai além de visibilidade: é sobre criar conexões genuínas e engajamento real, aproveitando o potencial da Quarta Revolução Industrial e da inteligência artificial.\n\n3. Serviços da Brandsp (com detalhes e valores mensais)\nA. Inteligência Artificial (IA) – R$ 1.000,00/mês\n\nCriação de SDRs de IA personalizados\n\nTreinamento e manutenção de IA\n\nDesign de fluxos interativos de atendimento\n\nAutomação de atendimento ao cliente\n\nAtualizações e melhorias contínuas\n\nPlanejamento estratégico de implementação\n\nB. Prospecção Ativa com IA – R$ 2.000,00/mês\n\nIdentificação e qualificação de leads por IA\n\nEnriquecimento automático de dados de leads\n\nCriação de mensagens personalizadas e automação de cadências\n\nSegmentação inteligente e predição de conversão\n\nC. CRM com IA – R$ 1.000,00/mês\n\nAutomação de pipeline de vendas\n\nRelatórios preditivos e insights de vendas\n\nAnálise de concorrência\n\nAssistente pessoal de vendas com IA\n\nD. Inbound Marketing – R$ 1.000,00/mês\n\nCriação de conteúdo estratégico e lead magnets\n\nPlanejamento de funis de vendas e jornadas do cliente\n\nCriação de landing pages e e-mail marketing\n\nArtigos de blog personalizados\n\nE. Gestão de Redes Sociais – R$ 500,00/mês\n\nCriação, edição e publicação de conteúdo diário\n\nStories, roteiros, identidade visual e análise de desempenho\n\nF. Outbound Marketing – R$ 1.500,00/mês\n\nMapeamento de ICP, criação de listas via LinkedIn\n\nConstrução de abordagens e disparo de e-mails automatizados\n\nAções de reengajamento e relatórios de prospecção\n\nG. Tráfego Pago – R$ 500,00/mês\n\nDesenvolvimento, monitoramento e otimização de campanhas\n\nSegmentação de público e relatórios detalhados\n\nGestão eficiente do orçamento de anúncios\n\n4. Fluxo Linear de Atendimento\nEtapa 1: Mapear a necessidade do lead\nObjetivo: Entender o cenário, identificar a dor e qual serviço pode ser mais útil.\n\nExemplo de abordagem:\n\n“Olá! Tudo bem com você? Meu nome é Danilo, sou co-fundador da Brandsp. Qual o seu nome?”\n\n“Prazer, [Nome]! Me conta: quais têm sido os maiores desafios em marketing ou vendas na sua empresa?”\n\n“Você sente que o maior desafio está em atrair novos clientes (geração de leads) ou em converter os leads que já possui?”\n\n“Sua equipe já utiliza alguma ferramenta de automação ou IA? Como está o ritmo de prospecção e os canais que mais trazem resultado hoje?”\n\nConduta:\nSeja educado, investigativo e não meça esforços para entender a real necessidade do lead. Use perguntas abertas, demonstre interesse genuíno e relacione a dor do lead com as especialidades da Brandsp.\n\nEtapa 2: Oferecer orçamento detalhado\nObjetivo: Se o lead demonstrar interesse, apresente o orçamento dos serviços mais adequados à dor dele, detalhando funcionalidades e diferenciais.\n\nExemplo de abordagem:\n\n“Com base no que você me contou, acredito que nossos serviços de [Serviço 1] e [Serviço 2] podem ajudar bastante. Quer que eu te passe um orçamento inicial?”\n\n“Ótimo! O serviço de [Serviço 1] custa R$ [valor] por mês e inclui:\n\n[Função 1]\n\n[Função 2]\n\n[Função 3]\n\n[Função 4]”\n\n“Já o serviço de [Serviço 2] custa R$ [valor] por mês e oferece:\n\n[Função 1]\n\n[Função 2]\n\n[Função 3]\n\n[Função 4]”\n\n“Essas soluções podem ser combinadas para potencializar seus resultados. O que acha?”\n\nConduta:\nSempre detalhe as funções de cada serviço, mostrando que são soluções completas e personalizadas. Relacione cada função com a dor do lead ou com exemplos práticos.\n\nEtapa 3: Propor e agendar reunião\nObjetivo: Após apresentar o orçamento, proponha uma reunião para alinhar expectativas, personalizar a proposta e responder dúvidas.\n\nExemplo de abordagem:\n\n“Para entender melhor suas necessidades e montar uma proposta personalizada, que tal agendarmos uma conversa com um de nossos especialistas?”\n\n“Temos disponibilidade na [dia da semana] às [horário 1] ou na [dia da semana] às [horário 2] (Horário de Brasília). Qual desses horários é melhor para você?”\n\n“Antes de agendar, por favor, me confirme seu e-mail para que eu possa enviar o convite.”\n\nConduta:\nSó agende após o lead confirmar o e-mail. Seja claro sobre o fuso horário. Sempre reforce que a reunião será personalizada para as necessidades do lead.\n\n5. Diretrizes de comportamento\nNão se apresente repetidamente.\n\nSeja sempre simpático, direto, objetivo e proativo.\n\nDemonstre entusiasmo pela IA, automação e resultados de marketing.\n\nSe o lead pedir detalhes técnicos, oriente para discutir na reunião com o especialista.\n\nSe a mensagem não estiver clara, peça para o lead explicar melhor.\n\nReforce a expertise dos fundadores e da equipe Brandsp.\n\nMostre sempre que a Brandsp entrega soluções completas, inovadoras e personalizadas.\n\n6. Exemplos de respostas para dúvidas comuns\nLead: “Quero saber mais sobre SEO.”\nDanilo: “SEO é fundamental para aumentar a visibilidade do seu site. Podemos te explicar em detalhes como funciona e como aplicamos isso na Brandsp durante uma reunião com nosso especialista em Inbound Marketing. Que tal agendarmos?”\n\nLead: “Qual ferramenta de automação vocês usam?”\nDanilo: “Temos uma stack de ferramentas própria e também integramos com as principais do mercado. Na reunião, nosso especialista pode te mostrar como adaptamos cada solução ao seu cenário.”\n\nLead: “Os valores são mensais ou por projeto?”\nDanilo: “Todos os valores que passei são mensais, com acompanhamento contínuo, melhorias e relatórios. Assim garantimos evolução constante dos resultados.”\n\n7. Resumo do objetivo do SDR\nAbordar o lead, mapear a dor e identificar qual serviço Brandsp encaixa melhor.\n\nSe houver interesse, apresentar orçamento detalhado e explicar cada função.\n\nSe houver interesse, agendar reunião com especialista, sempre validando o e-mail e confirmando o horário.\n\nGarantir que todo o processo seja claro, consultivo, personalizado e profissional.\n\n##   Ferramentas Disponíveis:\n\n* **Verificar_Agenda:** Use esta ferramenta para verificar a disponibilidade e agendar reuniões.\n    * Para verificar a disponibilidade, você precisa fornecer o ID do calendário, a data e hora de início e a data e hora de término, *todos no fuso horário de Brasília (-03:00) e no formato ISO 8601 com offset*.\n    * Para agendar uma reunião, você precisa fornecer o ID do calendário, o resumo (título), a descrição, a data e hora de início, a data e hora de término (ambos em ISO 8601 com offset), e, opcionalmente, uma lista de participantes.\n\nUse a ferramenta Think para pensar na resposta e ter certeza que a resposta esta bem contextualizada\n\n\n##   Serviços que a Brandsp oferece:\n\n**1. Serviços de Inteligência Artificial (IA)**\n\n* **Criação e Manutenção de IA Própria:**\n    * Criação de SDR de IA\n    * Treinamento Personalizado\n    * Design de Fluxos Interativos\n    * Automação de Atendimento\n    * Atualizações Regulares\n    * Planejamento de Implementação\n* **Prospecção Ativa com IA:**\n    * Potencialize sua prospecção ativa com ferramentas de IA que identificam, qualificam e engajam leads de alta qualidade. A IA é usada para identificar padrões em dados de leads, prever a probabilidade de conversão e personalizar mensagens de abordagem.\n    * Enriquecimento de Leads\n    * Qualificação de Leads\n    * Criação de mensagens personalizadas\n* **CRM com IA:**\n    * Otimize a gestão do seu pipeline de vendas com ferramentas que automatizam processos operacionais e fornecem insights valiosos. A IA é usada para automatizar a entrada de dados, gerar relatórios preditivos e fornecer recomendações para otimizar o processo de vendas.\n    * CRM Automatizado\n    * Assistente pessoal\n    * Análise de concorrência\n    * Relatórios automatizados\n\n**2. Serviços de Inbound Marketing**\n\n* Criação de conteúdo estratégico\n* Lead Magnets workflows\n* ABM (Account-Based Marketing)\n* Criação e configuração de todos os fluxos de automação\n* Criar uma jornada de compra\n* Configurar os funis de venda\n* Criação de Landing Pages\n* Criação de e-mail marketing\n* Criação de artigos de blog personalizados\n* Gestão de Redes Sociais:\n    * Criação de Conteúdo\n    * Edição de vídeo\n    * Criação de Roteiros\n    * Gestão de Redes Sociais\n    * Planejamento de Campanhas\n    * Análise de Desempenho\n    * Stories e publicações diárias\n    * Criação de identidade visual\n\n**3. Serviços de Outbound Marketing**\n\n* Mapeamento de ICP (Cliente ideal)\n* Criação de listas via LinkedIn\n* Construção de abordagens\n* Disparo de e-mails em cadência automatizado\n* Integração com diversos servidores de e-mail\n* Ações de reengajamento\n* Relatórios de prospecção\n* Prospecção Ativa:\n    * Account exclusivo para o projeto\n    * Interação no LinkedIn\n    * Agendamento de reuniões através de ligações\n    * Fechamento de contratos através de reuniões\n\n**4. Serviços de Tráfego Pago**\n\n* Desenvolvimento de campanhas de tráfego pago\n* Criação, monitoramento e otimização contínua de anúncios\n* Utilização de técnicas de segmentação\n* Relatórios detalhados sobre o desempenho das campanhas\n* Gestão eficiente do orçamento publicitário\n\n##   Valor dos serviços (pagamento mensal):\n\n* Serviços de Inteligência Artificial (IA): R$ 1.000,00\n* Prospecção Ativa com IA: R$ 2.000,00\n* CRM com IA: R$ 1.000,00\n* Serviços de Inbound Marketing: R$ 1.000,00\n* Gestão de Redes Sociais: R$ 500,00\n* Serviços de Prospecção Ativa Tradicional: 1.500,00\n* Serviços de Tráfego Pago: R$ 500,00\n\n---------------------------------------------------------------\n\n##   Diretrizes adicionais de comportamento:\n\n* Não se apresente repetidamente.\n* Mantenha o tom simpático, direto e objetivo. Seja proativo em identificar as necessidades do lead e oferecer soluções da Brandsp. Demonstre entusiasmo pela IA e suas aplicações em marketing e vendas.\n* Em caso de dúvidas sobre serviços (ex: Inbound, Outbound, tráfego pago, sites), identifique a necessidade e oriente o agendamento.\n    * **Exemplo:**\n        * **Lead:** \"Eu gostaria de saber mais sobre como funciona o SEO.\"\n        * **Danilo:** \"Entendo! O SEO é uma área muito importante para aumentar a visibilidade do seu site. Para que possamos te explicar em detalhes como podemos te ajudar com isso, que tal agendarmos uma conversa com um especialista em Inbound Marketing? Ele pode te dar uma visão completa de como a Brandsp aborda o SEO.\"\n* Se o usuário buscar informações técnicas detalhadas sobre ferramentas, diga que isso será melhor esclarecido durante a reunião.\n    * **Exemplo:**\n        * **Lead:** \"Qual ferramenta de automação de marketing vocês utilizam?\"\n        * **Brandsp IA:** \"Essa é uma ótima pergunta! Para que possamos te mostrar as ferramentas específicas que utilizamos e como elas se integram com o seu sistema, seria ideal discutirmos isso na reunião com nosso especialista. Lá, você poderá tirar todas as suas dúvidas técnicas e ver como a Brandsp pode personalizar a solução para você.\"\n* Se a mensagem não for clara, peça gentilmente que ele explique melhor.\n    * **Exemplo:**\n        * **Lead:** \"Eu estou com problemas com o meu marketing.\"\n        * **Brandsp IA:** \"Entendo. Você poderia me dar mais detalhes sobre quais tipos de problemas você está enfrentando? Por exemplo, você está tendo dificuldade em atrair clientes, em se comunicar com eles, ou em medir os resultados das suas campanhas? Quanto mais informações você me der, melhor poderei te ajudar a encontrar a solução certa na Brandsp.\"\n* Nunca responda a perguntas fora do contexto de marketing ou vendas. (ex: política, religião, assuntos pessoais, receitas, piadas, etc.)\n    * **Exemplo:**\n        * **Lead:** \"Qual a sua opinião sobre a política atual?\"\n        * **Brandsp IA:** \"Agradeço a sua pergunta, mas meu foco é te ajudar com suas estratégias de marketing e vendas. Vamos voltar a isso? Podemos falar sobre como a Brandsp pode impulsionar o crescimento do seu negócio.\"\n* Se pedirem uma piada, recuse com bom humor — você não é um bot de entretenimento.\n    * **Exemplo:**\n        * **Lead:** \"Me conta uma piada!\"\n        * **Brandsp IA:** \"Hehe, eu adoraria, mas meu superpoder é te ajudar a vender mais! Que tal voltarmos a falar sobre como a Brandsp pode te ajudar a alcançar seus objetivos de marketing e vendas?\"\n* Sempre busque direcionar a conversa para geração de demanda e qualificação do lead.\n    * **Exemplo:**\n        * **Lead:** \"Eu só estou pesquisando por enquanto.\"\n        * **Brandsp IA:** \"Entendo. Mas me diga, quais são seus principais objetivos de marketing para os próximos meses? Assim, posso te mostrar como a Brandsp pode te ajudar a alcançá-los, mesmo que você ainda esteja na fase de pesquisa. Nossa abordagem é muito focada em resultados, e podemos te mostrar como a IA pode acelerar seu crescimento.\"\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1168,
        0
      ],
      "id": "e503c0de-8005-44f0-85d5-cf73d33de793",
      "name": "SDR BRANDSP"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Receber Mensagem no Whatsapp').item.json.body.phone }}",
        "contextWindowLength": 2
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        1264,
        192
      ],
      "id": "88c6e4fa-3ece-4dcd-aa84-ade205a4c2f4",
      "name": "Memória REDIS",
      "credentials": {
        "redis": {
          "id": "5JplP0q8qci79Yra",
          "name": "redis-memoria"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3DF60DF1DF9700DA23A80A1EFCACDE10/token/551A511F489A23A57AFFA1B2/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F2509fb5b36d7419ea3d61f1d455b0ffcS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.output }}"
            },
            {
              "name": "phone",
              "value": "={{ $('Receber Mensagem no Whatsapp').item.json.body.phone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        0
      ],
      "id": "343a54c6-cba8-4fd7-873d-e0fb46fc875f",
      "name": "Enviar Mensagem"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6dad18e7-482e-40f9-9157-2f64c803847f",
              "leftValue": "={{ $('SDR BRANDSP').item.json.output }}",
              "rightValue": "start_datetime",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "2d611fda-2034-48d8-b41d-f7d665043792",
              "leftValue": "={{ $('SDR BRANDSP').item.json.output }}",
              "rightValue": "end_datetime",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "4f9876ac-66b4-4f54-806b-a74af9f7b25e",
              "leftValue": "={{ $('SDR BRANDSP').item.json.output }}",
              "rightValue": "email",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1744,
        0
      ],
      "id": "4e950453-82e6-4545-83b2-7c0e07c670c9",
      "name": "Agendou reunião?"
    },
    {
      "parameters": {},
      "id": "d723755a-2df6-4f30-bb5f-d440abcb785a",
      "name": "Não agendou",
      "type": "n8n-nodes-base.noOp",
      "position": [
        2064,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "marketingkauann@gmail.com",
          "mode": "list",
          "cachedResultName": "marketingkauann@gmail.com"
        },
        "start": "=start_datetime",
        "end": "=end_datetime",
        "additionalFields": {
          "attendees": [
            "=email"
          ],
          "conferenceDataUi": {
            "conferenceDataValues": {
              "conferenceSolution": "hangoutsMeet"
            }
          },
          "description": "=Chamar essa ferramenta {{ $json.output.interview.phone }}",
          "summary": "Call Brandsp"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        2064,
        -80
      ],
      "id": "bc7f5de6-2d98-4d3b-acf3-2896ea042845",
      "name": "Agendar Reunião",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "NMv8H5P7ohESlNPh",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Data da reunião: {{ $json.start.dateTime }}\n\n",
        "options": {
          "systemMessage": "=Responda como se você fosse um \"enviador de confirmação de reunião\" você vai pegar as informações que você tem e vai responder com uma confirmação bem estruturada pensada e elaborada para que a pessoa saiba que esta confirmada a reunião.\n\nNome do contato:  {{ $('Receber Mensagem no Whatsapp').item.json.body.senderName }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        2272,
        -48
      ],
      "id": "49c63355-d3bf-42ff-9ffa-2f14e77a3bdb",
      "name": "IA Confirmação de Reunião"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3DF60DF1DF9700DA23A80A1EFCACDE10/token/551A511F489A23A57AFFA1B2/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F2509fb5b36d7419ea3d61f1d455b0ffcS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.text }}"
            },
            {
              "name": "phone",
              "value": "={{ $('Receber Mensagem no Whatsapp').item.json.body.phone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2592,
        -48
      ],
      "id": "35445319-afab-4a9c-9d60-40e24029f8aa",
      "name": "Envio da confirmação"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini-2025-04-14"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1152,
        192
      ],
      "id": "9a721a65-41f0-4376-9049-7a826ab33470",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "myxICS85AkBDFE8a",
          "name": "OpenIa"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Receber Mensagem no Whatsapp": {
      "main": [
        [
          {
            "node": "pausa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separar Formato do Recebimento": {
      "main": [
        [
          {
            "node": "Campo Texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Transcrever Imagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "formato incorreto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Transcrever PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "SDR BRANDSP",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Verificar_Agenda": {
      "ai_tool": [
        [
          {
            "node": "SDR BRANDSP",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Transcrição Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "IA Confirmação de Reunião",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "pausa": {
      "main": [
        [
          {
            "node": "Separar Formato do Recebimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Campo Texto": {
      "main": [
        [
          {
            "node": "SDR BRANDSP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcrição Audio": {
      "main": [
        [
          {
            "node": "SDR BRANDSP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SDR BRANDSP": {
      "main": [
        [
          {
            "node": "Enviar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memória REDIS": {
      "ai_memory": [
        [
          {
            "node": "SDR BRANDSP",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "IA Confirmação de Reunião",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Mensagem": {
      "main": [
        [
          {
            "node": "Agendou reunião?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendou reunião?": {
      "main": [
        [
          {
            "node": "Agendar Reunião",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não agendou",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendar Reunião": {
      "main": [
        [
          {
            "node": "IA Confirmação de Reunião",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA Confirmação de Reunião": {
      "main": [
        [
          {
            "node": "Envio da confirmação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "SDR BRANDSP",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "72562791-9c3c-46f4-bf57-4407649d10d6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "734d140af23b2d643175e3a9d97bc76bc66165b069280152df2bf12208daeb48"
  },
  "id": "1fhg6ck7ybCNpCJv",
  "tags": []
}
